.App {
  width: 95vw;
  height: 95vh;
  margin: auto;
  display: flex;
  border: 2px solid black;
  background-color: burlywood;
}

.App-Section-One {
  height: 100%;
  width: 30%;
  background-color: lightcoral;
}
.App-Section-Two {
  height: 100%;
  width: 70%;
  background-color: darkcyan;
}

